<template name="directions">
    <a name="directions"></a>

    <div class="row section-header">
        <p>WHERE IS IT?</p>
    </div>

    <div class="row section-content">
        <div class="col-md-10 col-md-offset-1">
            <p class="text-center">
                The Hoover YMCA Park is located at
                <a target="_blank" href="https://www.google.com/maps/place/Hoover+YMCA+Park/@39.848138,-82.958731,15z/data=!4m2!3m1!1s0x0:0x890af703e8588032">1570 Rohr Rd, Lockbourne, OH 43137</a>.
                It's a few minutes south of the 270 outer belt.
            </p>
        </div>

    </div>

    <div class="center-block" id="map">
        <iframe
                width="500"
                height="400"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAueMdKvZxVW8KZAAveqZcM5vFz12AUDFo
    &q=Hoover+YMCA+Park,Columbus,OH" allowfullscreen>
        </iframe>
    </div>
</template>