<template name="registry">
    <a name="registry"></a>

    <div class="row section-header">
        REGISTRY
    </div>

    <div class="row section-content">
        <div class="col-md-10 col-md-offset-1">
            <p>We're excited to be building a future together. In that future we see a home, and would greatly
                appreciate any monetary gifts that would help us realize that purchase.
                If you would prefer to give us a more traditional gift, we've included a registry that has a few things
                we could use. Just click the image below to go there.</p>
            <a href="https://www.amazon.com/wedding/registry/1NBT1GXZSQEY7" target="_blank"> <img
                    class="center-block img-responsive img-rounded registry-img" src="/img/amazon-registry.png"/>
            </a>
        </div>
    </div>
</template>