<template name="whattoexpect">
    <a name="expectations"></a>

    <div class="expectations">
        <p>Readymade biodiesel hella mumblecore. Art party banjo PBR&B qui. Cold-pressed XOXO nihil, meggings cronut art
            party ut freegan fap tacos semiotics. Fap cillum vinyl, kogi godard disrupt shabby chic roof party
            farm-to-table. Franzen locavore cillum mustache, consequat slow-carb farm-to-table taxidermy. Fixie fap VHS,
            wayfarers lomo iPhone thundercats cardigan next level microdosing health goth small batch chia gochujang.
            Austin pop-up butcher brunch banjo twee.</p>

        <p> Lomo fixie truffaut four loko, actually intelligentsia pariatur deep v. Tofu scenester accusamus delectus
            cred, celiac lumbersexual craft beer aute post-ironic photo booth. Offal vinyl pop-up reprehenderit, fugiat
            migas 3 wolf moon sint eu disrupt leggings. Pour-over wayfarers lumbersexual, tattooed sed gochujang esse
            messenger bag. Ennui master cleanse excepteur photo booth. Kickstarter typewriter irure craft beer.
            Intelligentsia irony cold-pressed, tote bag ennui nesciunt distillery affogato assumenda mlkshk venmo.</p>

        <p> Vegan whatever nostrud actually farm-to-table. You probably haven't heard of them quinoa ut, pour-over minim
            commodo cupidatat tumblr. Tote bag photo booth keffiyeh XOXO vegan, intelligentsia paleo leggings tousled
            vero flannel post-ironic gochujang quinoa sunt. Keytar pabst church-key, PBR&B tempor street art hammock.
            Quis lomo try-hard sriracha, hashtag actually four dollar toast scenester raw denim nostrud pinterest fanny
            pack. Beard food truck occaecat tote bag synth, cred raw denim stumptown pour-over kinfolk wayfarers
            kombucha. Photo booth fashion axe brunch farm-to-table, 8-bit you probably haven't heard of them chia master
            cleanse echo park.</p>

        <p> Listicle gastropub drinking vinegar, butcher williamsburg hella art party cray chillwave meditation quis.
            Wolf franzen pork belly selvage YOLO, cliche artisan viral eiusmod crucifix gentrify retro nesciunt
            pour-over. Veniam vice 8-bit, sriracha gentrify green juice leggings. Portland yr pitchfork, twee biodiesel
            heirloom gluten-free photo booth schlitz occupy. Velit beard marfa magna man bun, messenger bag laborum four
            dollar toast master cleanse culpa mumblecore brooklyn dolor vegan portland. Try-hard gluten-free fashion axe
            odio, selfies letterpress flannel organic meggings yr man bun. +1 chicharrones dolore, locavore drinking
            vinegar blog ennui bicycle rights squid labore seitan williamsburg street art.</p>
    </div>
</template>