<template name="whattoexpect">
    <a name="expectations"></a>

    <div class="row section-header">
        <p class="text-center">WHAT TO EXPECT</p>
    </div>

    <div class="row section-content">
        <div class="col-md-10 col-md-offset-1">
            <p>
                We’re just looking to have a great time and celebrate with our friends and family! The venue is casual
                and rustic, with a bonfire ring and ample outdoor space. Wear something comfortable—there’s no air
                conditioning! Don’t expect the usual reception staples like cake cutting and a dance floor, but we’ll
                provide good food, outdoor activities, and plenty of amazing people like yourselves to enjoy time with.
                We can’t wait to see you there!
            </p>
        </div>

    </div>
</template>